@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 232 11% 15%;

    --card: 0 0% 100%;
    --card-foreground: 232 11% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 232 11% 15%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 233 8% 19%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 233 8% 19%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 232 11% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 232 11% 15%;
    --foreground: 233 8% 19%;

    --card: 232 11% 15%;
    --card-foreground: 233 8% 19%;

    --popover: 232 11% 15%;
    --popover-foreground: 233 8% 19%;

    --primary: 233 8% 19%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 233 8% 19%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 233 8% 19%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 233 8% 19%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.line-body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--background));
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: drop 7s 0s infinite;
  animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.card-shadow {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.halo {
  background: rgb(45, 45, 52);
  background: linear-gradient(
    90deg,
    rgba(45, 45, 52, 1) 35%,
    rgba(31, 71, 126, 1) 100%
  );
}

@keyframes filling {
  from {
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image: url(https://cdn.gencraft.com/prod/user/d4e50dbb-c33b-41e2-99d9-dcf3fd0e30a8/6e07f88f-d5e4-480e-a90b-0901a8db1527/images/image1_1024_1024.jpg?Expires=1711670410&Signature=f6kHiBBNSw2M5qV5m7xquXbmj0VJ8lP--TPHa77DTIuoAuFCIF4ZMVAKI2ea7P~kx6fspYo9Pdzy04dcSH6J2fVjJJL~tD4eFV7oFKTMgRJGGHOX73ILhQlbhVutSlPEAabYoXMioQDbInE3tZNAMqdL8oH6fDqipWcehagFV4JzAtbpdp4MJq0cfc7jQtmZ~6WmE7immVxbmr2pOSra04VKJrR1aTbkgaYJFyRqT6weD7UfvfK7JfKjrOIyc5h8~oM2c8tAsxPpSnix6g856vlGf~gfoRnLHCF~7DjZKcqLfbJLmL4aZqpgIIXg~JHTkCPJJe5vfvlRQi4nl90d3g__&Key-Pair-Id=K3RDDB1TZ8BHT8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #ffffff;
  animation: filling 3s ease forwards;
}
